# Ignore everything by default
/*
!/.config/
/.config/*

# Always ignore patterns
# regardless of exceptions
.nvim

# Whitelist
!/.gitignore
!/README.md
!/.profile

## configs
# !/.config/dotfiles/regenerate-symlinks.sh
!/.config/dotfiles
!/.config/alacritty
!/.config/waybar
!/.config/tmux
!/.config/git
!/.config/zsh

!/.config/nvim
!/.config/hypr
!/.config/opencode
