[submodule "nvim"]
	path = .config/nvim
	url = git@github.com:CTNOriginals/nvim.git
	branch = main
[submodule "hypr"]
	path = .config/hypr
	url = git@github.com:CTNOriginals/hypr.git
	branch = main
[submodule "opencode"]
	path = .config/opencode
	url = git@github.com:CTNOriginals/opencode.git
	branch = main
[submodule "oh-my-zsh"]
	path = .config/zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "apps/eww"]
	path = apps/eww
	url = git@github.com:elkowar/eww.git
