# Ignore everything by default
/*
!/.config/
/.config/*
!/.config/dotfiles/
/.config/dotfiles/*
!/apps/
/apps/*

# Always ignore patterns
# regardless of exceptions
.nvim
*.out

# Whitelist
!/.gitignore
!/README.md
!/.profile
!/apps/eww

## configs
!/.config/alacritty
!/.config/waybar
!/.config/tmux
!/.config/git
!/.config/zsh
!/.config/pipewire
!/.config/eww

!/.config/nvim
!/.config/hypr
!/.config/opencode

### dotfiles
!/.config/dotfiles/.ignore
!/.config/dotfiles/tools
