# Ignore everything by default
/*
!/.config/
/.config/*

# Always ignore patterns
# regardless of exceptions
.nvim

# Whitelist
!/.gitignore
!/README.md
!/.profile

## configs
!/.config/alacritty
!/.config/waybar
!/.config/tmux
!/.config/git
!/.config/bash
!/.config/zsh

!/.config/opencode
